.selectedPage {
    font-weight: bold;
    border-radius: 5px;
    color:#f59936;
    margin-left: 5px;
}

.selectedPage:hover{
    cursor: pointer;

}

.page {
    margin-left: 5px;
    color:#c148c7;

}

.page:hover {
    cursor: pointer;

}

.arrowRight
{
    border: solid #c148c7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px 12px 0 0;
    background-color:  inherit;
    cursor: pointer;
    outline: none;

    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.arrowLeft
{
    border: solid #c148c7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px 12px 0 0;
    background-color: inherit;
    cursor: pointer;
    outline: none;

    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

