

.header {
    grid-area: h;
    background-color: #c148c7;

}

.header img {
    width: 60px;
    margin-left: 20px;
    color: white;
}

.loginBlock {
    color:#f59936;
    float: right;
    padding: 16px;
}

.loginBlock a {
    color: white;
}