.dialogs {
    display: grid;
    grid-template-columns:  2fr 10fr;
}

.names {
    padding: 20px;
}

.messages {
    padding: 20px;
}

.addMessage {
    margin-top: 20px;
}
.button {
    color: white;
    background: #f59936;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px;
    text-decoration: none;
    margin-top: 5px;
}
.button:hover {
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #c148c7,#777);
}